layout {
    pane split_direction="vertical" {
        pane {
            command "bash"
            args "-c" "cd backend && bun --hot src/server/index.ts"
        }
        pane {
            command "bash"
            args "-c" "cd frontend && bun run dev"
        }
    }
}
